/* *, 
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
